<!--
    Footer Template Section
    -----------------------
    This section renders the footer of the web page and includes:
    
    1. A footer element with:
       - A horizontal rule (<hr>) to visually separate the footer from the main content.
       - A centered paragraph displaying copyright information.
         The copyright year is dynamically generated using EJS (<%= new Date().getFullYear() %>).
         It includes a link (with class "text-muted") back to the homepage logo".
    
    2. External Script Inclusions:
       - FontAwesome: Loads the FontAwesome icon kit for using icons across the site.
       - jQuery: Loads jQuery (version 3.6.0) with the 'defer' attribute to ensure that it is executed after parsing.
    
    The section concludes by closing the <body> and <html> tags.
-->
     <footer>
          <hr>
          <div class="d-flex justify-content-center align-items-center pt-1">
               <p class="mb-0">
                    J. Shepard Designs Copyright &copy; <%= new Date().getFullYear() %> <a href="/" class="text-muted">Virtual Receptionist by Matt</a>. All rights reserved.
               </p>
          </div>
     </footer>
     <script src="https://kit.fontawesome.com/e1ead10cf7.js" crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>

</body>
</html>