<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My Virtual Receptionist</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/main.css">
        <link rel="stylesheet" href="/pages.css">
    </head>
    <header>
        <header class="header-bar">
            <div class="d-flex justify-content-between align-items-center p-2">
              <!-- Left-aligned h4 element -->
              <h4 class="my-0 font-weight-normal">
                <a href="/" class="text-white">
                  <img src="/images/logo.png" width="60" height="60" alt="building logo">
                </a>
              </h4>
              <!-- Right-aligned form element -->
              <% if (isLoggedIn) { %>

                console.log("************Not logged in")
                <!-- Display logout button when user is logged in -->
                <button onclick="window.location.href='/logout'" class="logout-btn">Logout</button>
              <% } else { %>

                console.log("************Logged in")
                <!-- Display login form and signup button when user is not logged in -->
                <form action="/login" method="POST" class="mb-0 pt-2 pt-md-0">
                  <div class="row align-items-center">
                    <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
                      <input name="username" class="form-control form-control-sm input-dark" type="text" placeholder="Username" autocomplete="off">
                    </div>
                    <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
                      <input name="password" class="form-control form-control-sm input-dark" type="password" placeholder="Password">
                    </div>
                    <div class="col-md-auto">
                      <button class="btn btn-primary btn-sm">Sign In</button>
                    </div>
                  </div>
                </form>
              <% } %>
            </div>
          </header>
          
    </header>
    <body>