<%- include('../includes/header') %>
<div class="page flex-grow-1">
    <% flashErrors = flash('errors')
    if (flashErrors.length) { %>
        <div class="alert alert-danger">
          <% flashErrors.forEach(function(error) { %>
            <p><%= error %></p>
          <% }); %>
        </div>
      <% } %>
    <section class="page-intro-section">
        <h2 class="pb-1">Hi I'm Your Virtual Receptionist.  Please check in.</h2>
    </section>
    <section class="checkin-form mt-5">
        <form action="/submit" method="POST">
    
            <div class="form-row">
                <div class="name-field">
                    <label class="check-in-form" for="name">Name:</label>
                <input type="text" name="name" id="name" required>
                </div>
                <div class="time-field">
                    <label class="check-in-form" for="appt-time">Appointment Time:</label>
                    <select name="apptTime" id="appt-time">
                    <!-- Options are inserted by JS -->
                    </select>
                </div>
            </div>

            <div class="message-textarea">
                <label class="checkin-form d-block message" for="message">Message:</label>
                <textarea class="check-in-form" name="notes" placeholder="If you do not have a scheduled appointment, please state your business; otherwise, this field is optional."></textarea>
            </div>
            <div class="btn-center-container">
                <button class="btn btn-primary btn-sm check-in" type="submit">Submit</button>
            </div>
           
        </form>

    </section>
</div>
<div class="bottom-caption mx-auto mt-5">
    <h4 class="pl-4 pr-3 mx-auto text-center">Your name and message are automatically deleted once the notification is sent!</h4>
</div>
<script type="module" src="../frontend-js/modules/getTimeOptions.js"></script>
<%- include('../includes/footer') %>
