       <%- include('../includes/header') %> 
        <div class="page">
            <section class="page-intro-section">
                <img src="/media/dummy.svg" width="150" height="150" alt="">
                <h1>Hi I'm Vivi, Your Virtual Receptionist</h1>
            </section>
            <section class="entities-flex-container">
                <div class="entity">
                    <img src="/media/compass.svg" width="150" height="150" alt="">
                    <h2>Company ABC</h2>
                </div>
                <div class="entity">
                    <img src="/media/compass.svg" width="150" height="150" alt="">
                    <h2>Company ABC</h2>
                </div>
                <div class="entity">
                    <img src="/media/compass.svg" width="150" height="150" alt="">
                    <h2>Company ABC</h2>
                </div>
                <div class="entity">
                    <img src="/media/compass.svg" width="150" height="150" alt="">
                    <h2>Company ABC</h2>
                </div>

            </section>
            
        </div>
        
    <%- include('../includes/footer') %>